<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <title>SignIn page </title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <style>
    .form-group{
        padding-top: 20px;
    }
    .container{
        
    }
  </style>
    <body>
        <div class="container">
            <div class="p-4 m-4">
                <div class="col-lg-5 mx-auto border rounded p-4">
                    <h3 class="alert alert-light">Create An Account</h3>
                <form method="post">

                    {% csrf_token %}
                
                    {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger" role="alert">
                      {{message}}
                        </div>
                        {% endfor %}
                        {% endif %}
             
                        <!-- Name -->
                        <div class="form-group">
                            <label for="">Name</label>
                           <input type="text" name="username" id="username" value="{{values.name}}"
                            class="form-control form-control-sm" placeholder="">
                         </div>
    
                          <!-- ID -->
                          <div class="form-group">
                            <label for="">Student ID</label>
                           <input type="text" name="stud_id" id="stud_id" value="{{values.stud_id}}"
                            class="form-control form-control-sm" placeholder="">
                         </div>

                    <!-- email -->
                     <div class="form-group">
                        <label for="">Email</label>
                       <input type="email" name="email" id="email" value="{{values.email}}"
                        class="form-control form-control-sm" placeholder="example@gmail.com">
                     </div>
                
                      <!-- password -->
                      <div class="form-group">
                        <label for="">password</label>
                       <input type="password" name="password" id="password"
                        class="form-control form-control-sm" placeholder="*******">
                     </div>
                     <div class="form-group">
                      <label for="">Confirm password</label>
                     <input type="confirm_password" name="confirm_password" id="confirm password"
                      class="form-control form-control-sm" placeholder="*******">
                   </div>
                
                  
                      <div class="form-group">
                        <input type="submit" class="btn btn-sm btn-info" value="Create an account">
                    
                      </div>

                     </form>
            </div>
        </div>
    </body>
    </html>